<div class="col-lg-2">
        <div class="ibox">

            <div class="ibox-title">
                <h5>{{commandMetric.commandName}}</h5>
            </div>

            <div class="ibox-content">

                <div class="row">
                    <div class="col-sm-4">
                        <span sparkline [datasets]="commandMetric.requestRate" [options]="sparklineOptions"></span>
                    </div>
                    <div class="col-sm-2">
                        <h4>Circuit Breaker</h4>
                        <span class="label label-primary">{{commandMetric.circuitBreakerStatus}}</span>
                    </div>
                </div>
             
                <div class="row">
                    <div class="col-sm-4">
                        <span class="badge badge-primary">Successes: {{commandMetric.success}}</span>
                        <span class="badge badge-danger">Exceptions: {{commandMetric.failure}}</span>
                        <span class="badge badge-info">ShortCircuited: {{commandMetric.shortCircuited}}</span>
                        <span class="badge badge-danger">{{commandMetric.errorPercentage}}</span>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Latencies</div>
                            <div class="panel-body">
                                <h4>90th: {{commandMetric.latency_90th}}</h4>
                                <h4>99th: {{commandMetric.latency_99th}}</h4>
                                <h4>99.5th: {{commandMetric.latency_99_5th}}</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                       <div class="panel panel-default">
                            <div class="panel-heading">Throughput</div>
                            <div class="panel-body">
                                <h4>Host: {{commandMetric.messagesPerSecond}}</h4>
                                <h4>Cluster: {{commandMetric.messagesPerSecond}}</h4>
                                <h4>No Of Hosts: {{commandMetric.noOfHosts}}</h4>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
</div>
