<div class="col-lg-2">
    <div class="row">
        <div class="ibox">
            <div class="ibox-title">
                <h5>TestCommandsadfasfsdfasdfsa</h5>
            </div>
            <div class="ibox-content">

    
                <div class="row">
                    <div class="col-sm-5">
                        <span sparkline [datasets]="sparklineData" [options]="sparklineOptions"></span>
                    </div>
                    <div class="col-sm-2">
                        <h4>Circuit Breaker</h4>
                        <span class="label label-primary">CLOSED</span>
                    </div>

                </div>
             
                <div class="row">
                    <div class="col-sm-4">
                        <span class="badge badge-primary">Successes: 400</span>
                        <span class="badge badge-danger">Exceptions: 2</span>
                        <span class="badge badge-info">ShortCircuited: 23</span>
                        <span class="badge badge-danger">34%</span>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Latencies</div>
                            <div class="panel-body">
                                <h4>90th: 10</h4>
                                <h4>99th: 100</h4>
                                <h4>99.5th: 230</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                       <div class="panel panel-default">
                            <div class="panel-heading">Throughput</div>
                            <div class="panel-body">
                                <h4>Host: 400000/s</h4>
                                <h4>Cluster: 200/s</h4>
                                <h4>No Of Hosts:5</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



</div>
